.App {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 20px;
  font-family: sans-serif !important;
}

.header {
  padding: 40px;
  /* background-color: brown; */
  text-align: center;
  background-image: radial-gradient(
    rgba(63, 23, 23, 0.2) 40%, 
    rgb(45, 105, 182) 90%), 
    url('./images/weatherapp3.jpg');
  background-size: cover;
  border-radius: 6px;
}

.header-title {
  font-size: 3em;
}

.form--address {
  width: 30vw;
  margin-right: -65px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  padding: 10px;
}

.form--address:focus {
  outline: none;
  border-bottom: blue 1px solid;
}




.form--submit {
  padding: 3px 5px;
  border-radius: 5px;
}

.form--submit:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .form--address {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .header-title {
    font-size: 2.5em;
  }
  .form--address {
    width: 70%;
  }
}





/*LOADER*/

