.dashboard {
    padding: 1.8rem;
}

.dashboard--data {
    background-color: #eee;
    padding: 10px auto;
    display: grid;
     /* grid-template-rows: 150px 150px; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.dashboard-address h3 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 450;
}

.grid-item {
    padding: 10px 10px 10px 50px;
    margin: 10px;
}
.today-info {
    grid-column: 1 / -1;
    justify-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
}

.today-info_head {
    font-weight: bold;
}

.dailyData {
    background-image: linear-gradient(rgba(196,223,195,0.6), rgba(196, 223, 195, 0.9)), url('./images/weatherapp2.jpg');
    background-size: cover;
    background-position: center;
    justify-items: center;
    border-radius: 6px;
    padding: auto;
}