.dashboard {
    padding: 1.8rem;
}

.dashboard--data {
    background-color: #eee;
    padding: 10px 5PX;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
}

.dashboard-address h3 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 450;
}

.grid-item {
    padding: auto;
    margin: 10px 10px 10px 50px;
    text-align: center;
}
.today-info {
    grid-column: 1 / -1;
    justify-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    padding: auto;
}

.today-info_head {
    font-weight: bold;
}

.today-info__icon {
    fill: rgb(0, 0, 0);
    height: 50px;
    width: 50px;
}

.dailyData {
    background-image: linear-gradient(rgba(196,223,195,0.6), rgba(196, 223, 195, 0.9)), url('./images/weatherapp2.jpg');
    background-size: cover;
    background-position: center;
    justify-items: center;
    border-radius: 6px;
    padding: auto;

    font-weight: 600;
}

.dailyData__date {
    font-weight: 600;
}

.dailyData__max--temp, dailyData__min--temp {
    font-weight: 900;
    transform: scale(1.2)
}

@media only screen and (max-width: 750px) {
    .grid-item {
        margin: 10px auto 10px auto;
    }
}